{% extends "base.html" %}

{% block content %}

<form class="forms" action="/suppliers/{{supplier.id}}" method="post">
    <div>
        <label for="company_name">Company Name:</label>
        <input class="input" type="text" id="company_name" name="company_name" value="{{supplier.company_name}}">
    </div>
    <div>
        <label for="contact_name">Contact Name:</label>
        <input class="input" type="text" name="contact_name" id="contact_name" value="{{supplier.contact_name}}">
    </div>
    <div>
        <label for="human">Human:</label>
        <select class="input" name="human" id="human">
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
    </div>



    <button type="submit"><i class="fa-solid fa-wand-sparkles" style="color:purple"></i></button>
</form>

{% endblock %}