{% extends "base.html" %}
{% block content %}

{% for product in all_products %}
<div class="product">
    <ul>
        <li>
            <a href="/products/{{product.id}}">{{product.name}}</a>
        </li>
    </ul>

            <div>
                <ul style="list-style: None;">
                    <li>Buyer Cost = £{{product.buyer_cost}} </li>
                    <li>Resale Price = £{{product.resale_price}}</li>
                    <li>Available = {{product.stock_quantity}}</li>
                    <li>Supplier = {{product.supplier.company_name}}</li>  
                    <li>{% if product.stock_quantity == 0 %}
                        Out of Stock
            
                        {% elif product.stock_quantity <= 2 %}
                        Low Stock
        
                        {% else %}
                        In Stock
                        {% endif %}
                    </li>            
                
                </ul>
            </div>



        

            <div class = "buttons">
                <form class = "delete-form" action="/products/{{product.id}}/delete" method="POST">
                    <button class = "delete"><i class="fa-solid fa-trash-can" style="color:purple "></i></button>
                </form>
            </div>
            


</div>
       

{% endfor %}

{% endblock %}