<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css' ) }}">
    <script src="https://kit.fontawesome.com/90bb1f6605.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic Shop</title>
</head>
<body>
    <header>
        <nav>
            <ul style="list-style: None;" class="links">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Inventory</a></li>
                <li><a href="/products/new">Add New Product</a></li>
                <li><a href="/suppliers">Suppliers</a></li>
                <li><a href="/suppliers/new">Add New Supplier</a></li>
            </ul>
        </nav>
    </header>
        
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    </body>
    
    <footer class="links">
        "Life's a show, you don't get to rehearse" ~ Buffy Summers 'Once More With Feeling' S6E7
    </footer>
</body>

</html>

